{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block body %}
	<h1>Formation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ formation.id }}</td>
			</tr>
			<tr>
				<th>Actif_formation</th>
				<td>{{ formation.actifFormation ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ formation.nom }}</td>
			</tr>
			<tr>
				<th>Numero</th>
				<td>{{ formation.numero }}</td>
			</tr>
			<tr>
				<th>Validation</th>
			<td>{{ formation.dateDebutValidation ? formation.dateDebutValidation|date('d/m/Y') : '' }}</td>
     </tr>
			<tr>
				<th>Titre_Professionnel</th>
				<td>{{ formation.titreProfessionnel }}</td>
			</tr>
			<tr>
				<th>Niveau</th>
				<td>{{ formation.niveau }}</td>
			</tr>
			<tr>
				<th>Nb_Stagiaires_previsionnel</th>
				<td>{{ formation.nombreStagiaires }}</td>
			</tr>
			<tr>
				<th>Groupe_rattachement</th>
				<td>{{ formation.groupeRattachement }}</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>NumbreHeures</th>
				<td>{{ formation.nombreHeures }}</td>
			</tr>
		</tbody>
	</table>







	<a href="{{ path('app_formation_index') }}">back to list</a>

	<a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>

	{{ include('admin/formation/_delete_form.html.twig') }}
{% endblock %}
