{% extends 'base.html.twig' %}

{% block title %}Interruption index
{% endblock %}

{% block body %}
	<h1>Interruption index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date_debut_int</th>
				<th>Date_fin_int</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for interruption in interruptions %}
				<tr>
					<td>{{ interruption.id }}</td>
					<td>{{ interruption.dateDebut ? interruption.dateDebut|date('Y-m-d') : '' }}</td>
					<td>{{ interruption.dateFin ? interruption.dateFin|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('app_interruption_show', {'id': interruption.id}) }}">show</a>
						<a href="{{ path('app_interruption_edit', {'id': interruption.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_interruption_new') }}">Create new</a>
{% endblock %}
