{% extends 'base.html.twig' %}

{% block title %}Interruption
{% endblock %}

{% block body %}
	<h1>Interruption</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ interruption.id }}</td>
			</tr>
			<tr>
				<th>Date_debut_int</th>
				<td>{{ interruption.dateDebut ? interruption.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_fin_int</th>
				<td>{{ interruption.dateFin ? interruption.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_interruption_index') }}">back to list</a>

	<a href="{{ path('app_interruption_edit', {'id': interruption.id}) }}">edit</a>

	{{ include('interruption/_delete_form.html.twig') }}
{% endblock %}
